<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LSOmni.DataAccess.BOConnection.PreCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="LSOmni.DataAccess.BOConnection.PreCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LSOmni.DataAccess.BOConnection.PreCommon.Properties.Settings>
      <setting name="LSRetail_Mobile_WebService_MemberMgt_DataAccess_BOConnection_Nav_NavWebReference_RetailWebServices"
        serializeAs="String">
        <value>http://172.22.1.48:7047/DynamicsNAV70/WS/Mobile%20NOP%202013/Codeunit/RetailWebServices</value>
      </setting>
      <setting name="LSOmni_DataAccess_BOConnection_PreCommon_LSActivity_Activity"
        serializeAs="String">
        <value>http://dhqsrvomni005:7447/BC140/WS/CRONUS%20LS%201402%20W1%20Demo/Codeunit/Activity</value>
      </setting>
      <setting name="LSOmni_DataAccess_BOConnection_PreCommon_NavWS_OmniWrapper"
        serializeAs="String">
        <value>http://dhqsrvomni001:9047/LSCentralMaster/WS/CRONUS%20-%20LS%20Central/Codeunit/OmniWrapper</value>
      </setting>
      <setting name="LSOmni_DataAccess_BOConnection_PreCommon_LSActivity15_Activity"
        serializeAs="String">
        <value>http://dhqsrvomni001:9047/LSCentralMaster/WS/CRONUS%20-%20LS%20Central/Codeunit/Activity</value>
      </setting>
      <setting name="LSOmni_DataAccess_BOConnection_PreCommon_NavWS_OmniWrapper"
        serializeAs="String">
        <value>http://dhqsrvomni001:9047/LSCentralMaster/WS/CRONUS%20-%20LS%20Central/Codeunit/OmniWrapper</value>
      </setting>
    </LSOmni.DataAccess.BOConnection.PreCommon.Properties.Settings>
    <LSOmni.DataAccess.BOConnection.PreCommon.Properties.Settings>
      <setting name="LSRetail_Mobile_WebService_MemberMgt_DataAccess_BOConnection_Nav_NavWebReference_RetailWebServices"
        serializeAs="String">
        <value>http://172.22.1.48:7047/DynamicsNAV70/WS/Mobile%20NOP%202013/Codeunit/RetailWebServices</value>
      </setting>
      <setting name="LSOmni_DataAccess_BOConnection_PreCommon_LSActivity_Activity"
        serializeAs="String">
        <value>http://dhqsrvomni005:7447/BC140/WS/CRONUS%20LS%201402%20W1%20Demo/Codeunit/Activity</value>
      </setting>
      <setting name="LSOmni_DataAccess_BOConnection_PreCommon_NavWS_OmniWrapper"
        serializeAs="String">
        <value>http://dhqsrvomni001:9047/LSCentralMaster/WS/CRONUS%20-%20LS%20Central/Codeunit/OmniWrapper</value>
      </setting>
      <setting name="LSOmni_DataAccess_BOConnection_PreCommon_LSActivity15_Activity"
        serializeAs="String">
        <value>http://dhqsrvomni001:9047/LSCentralMaster/WS/CRONUS%20-%20LS%20Central/Codeunit/Activity</value>
      </setting>
    </LSOmni.DataAccess.BOConnection.PreCommon.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
