<appSettings>
	<!-- Primary LS Central WS URL" -->
	<add key="BOConnection.Nav.Url" value="http://david-laptop:9047/BC191/WS/CRONUS%20-%20LS%20Central/Codeunit/RetailWebServices"/>
	<!-- Query Data LS Central WS URL, used for Calculation, lookup and replication. If empty, Primary URL will be used" -->
	<add key="BOConnection.Nav.QryUrl" value=""/>
	<!-- Either "username" or "DOMAIN\userName" -->
	<add key="BOConnection.Nav.UserName" value=".\BCService"/>
	<!-- For Encrypted password use Password Generator and make sure the string ends with :encr: -->
	<add key="BOConnection.Nav.Password" value="BCService"/>
	<!-- Tenant id use to obtain oAuth Token. Only used with oAuth mode (S2S) -->
	<add key="BOConnection.Nav.Tenant" value=""/>
	<!-- SecurityProtocol settings: Ssl3 - Tls - Tls11 - Tls12 - S2S (oAuth) -->
	<add key="BOConnection.Nav.Protocol" value="Tls12"/>

	<!-- Encoding for HTML Text: default - utf8 - utf7 - utf32 - unicode - ascii  -->
	<add key="BOConnection.Nav.Encoding" value="utf8"/>
	<!-- Timeout in seconds -->
	<add key="BOConnection.Nav.Timeout" value="20"/>

	<!-- SQL Connection String for LS Commerce Service Database (Network Library=DBMSSOCN;) User ID=LSCommerceUser;Password=CommerceUser; -->
	<add key="SQLConnectionString.LSOmni" value="Data Source=DAVID-LAPTOP;Initial Catalog=LSCommerceBC190;User ID=LSCommerceUser;Password=CommerceUser;Persist Security Info=True;MultipleActiveResultSets=True;Connection Timeout=10;"/>
	<!-- SQL Connection String for LS Central Database -->
	<add key="SqlConnectionString.Nav" value="Data Source=DAVID-LAPTOP;Initial Catalog=Stórkaup;User ID=LSCommerceUser;Password=CommerceUser;NAVCompanyName=CRONUS - LS Central;Persist Security Info=True;MultipleActiveResultSets=True;Connection Timeout=10;"/>
	<!-- ECom Web Hook URL for LS Commerce Service to forward Order data to ECom Web Site.  Set "Demo" to us in demo mode -->
	<add key="ECom.Url" value=""/>

	<!-- Assembly used to communicate with LS Central: CentralPre (Central AL w/Prefix) - CentrAL (Central AL) - NavSQL (Nav C/AL) - NavWS (Central SaaS) -->
	<add key="BOConnection.AssemblyName" value="LSOmni.DataAccess.BOConnection.CentralPre.dll"/>
	<add key="Infrastructure.Dal.AssemblyName" value="LSOmni.DataAccess.Dal.dll"/>

	<!-- License Key from LS Retail, validated in code (TRIAL-3CONCURRENTUSERS) -->
	<add key="License.Key" value="TRIAL-3CONCURRENTUSERS"/>

	<!-- Using Proxy Server is supported. Contact LSRetail for those key-values -->
</appSettings>
