<appSettings>
  <!-- Primary LS Central WS URL" -->
  <add key="BOConnection.Nav.Url" value="" />
  <!-- Query Data LS Central WS URL, used for Calculation, lookup and replication. If empty, Primary URL will be used" -->
  <add key="BOConnection.Nav.QryUrl" value="" />
  <!-- Primary LS Central WS URL for OData. See Web Service Setup - Action - Show OData v4 Uri" -->
  <add key="BOConnection.Nav.ODataUrl" value=""/>
  <!-- Either "username" or "DOMAIN\userName" -->
  <add key="BOConnection.Nav.UserName" value="" />
  <!-- For Encrypted password use Password Generator and make sure the string ends with :encr: -->
  <add key="BOConnection.Nav.Password" value="" />
  <!-- Tenant id use to obtain oAuth Token. Only used with oAuth mode (S2S) -->
  <add key="BOConnection.Nav.Tenant" value=""/>
  <!-- SecurityProtocol settings: Ssl3 - Tls - Tls11 - Tls12 - S2S (oAuth) -->
  <add key="BOConnection.Nav.Protocol" value="Tls12" />

  <!-- Encoding for HTML Text: default - utf8 - utf7 - utf32 - unicode - ascii  -->
  <add key="BOConnection.Nav.Encoding" value="utf8"/>
  <!-- Timeout in seconds -->
  <add key="BOConnection.Nav.Timeout" value="20"/>

  <!-- SQL Connection String for LS Commerce Service Database (Network Library=DBMSSOCN;) -->
  <add key="SQLConnectionString.LSOmni" value="Data Source=;Initial Catalog=LSCommerce;User ID=LSCommerceUser;Password=LSCommerceUser;Persist Security Info=True;MultipleActiveResultSets=True;Connection Timeout=10;" />
  <!-- SQL Connection String for LS Central Database -->
  <add key="SqlConnectionString.Nav" value="Data Source=;Initial Catalog=;User ID=;Password=;NAVCompanyName=;Persist Security Info=True;MultipleActiveResultSets=True;Connection Timeout=10;" />
  <!-- ECom Web Hook URL for LS Commerce Service to forward Order data to ECom Web Site.  Set "Demo" to us in demo mode -->
  <add key="ECom.Url" value="Demo"/>

  <!-- Assembly used to communicate with LS Central: CentralExt (v 23.0 <) - CentralPre (v 17.5 - 23.0) - CentrAL (v 15 - 17.4) - NavSQL (v 14 >) - NavWS (Central SaaS) -->
  <add key="BOConnection.AssemblyName" value="LSOmni.DataAccess.BOConnection.CentralExt.dll"/>
  <add key="Infrastructure.Dal.AssemblyName" value="LSOmni.DataAccess.Dal.dll"/>
  
  <!-- Password Encryption Code -->
  <add key="Security.EncrCode" value="RNzE86meaSS2cnx+UHZsEJJNI6JgT68z9qYlt85VBQw=:encr:" />
  <!-- License Key from LS Retail, validated in code (TRIAL-3CONCURRENTUSERS) -->
  <add key="License.Key" value="TRIAL-3CONCURRENTUSERS" />

  <!-- Using Proxy Server is supported. Contact LSRetail for those key-values -->
</appSettings>
