<appSettings>
  <add key="BOConnection.Nav.Url" value="http://dhqsrvomni001:9047/LSCentralRelease/WS/CRONUS - LS Central/Codeunit/RetailWebServices"/>
  <add key="BOConnection.Nav.QryUrl" value="http://dhqsrvomni001:9047/LSCentralRelease/WS/CRONUS - LS Central/Codeunit/RetailWebServices"/>
  <add key="BOConnection.Nav.UserName" value="kassi"/>
  <add key="BOConnection.Nav.Password" value=".,lsr123" />

  <add key="BOConnection.Nav.Encoding" value="utf-8" />
  <add key="BOConnection.Nav.Timeout" value="20" />

  <add key="SQLConnectionString.LSOmni" value="Data Source=DHQSRVOMNI001;Initial Catalog=LSOmniRel;User ID=LSOmniUser;Password=LSOmniUser;Persist Security Info=True;MultipleActiveResultSets=True;Connection Timeout=10;"/>
  <add key="SqlConnectionString.Nav" value="Data Source=DHQSRVOMNI001;Initial Catalog=LSCentralRelease;User ID=LSOmniUser;Password=LSOmniUser;NAVCompanyName=CRONUS - LS Central;Persist Security Info=True;MultipleActiveResultSets=True;Connection Timeout=10;"/>

  <add key="ECom.Url" value="Demo" />

  <add key="BOConnection.AssemblyName" value="LSOmni.DataAccess.BOConnection.CentrAL.dll" />
  <add key="Infrastructure.Dal.AssemblyName" value="LSOmni.DataAccess.Dal.dll" />

  <add key="License.Key" value="TRIAL-3CONCURRENTUSERS" />
  <add key="Security.Validatetoken" value="false" />

  <!-- Value in minutes - AutoLogout timer -->
  <add key="Portal.Token.Timeout" value="240" />
  <add key="AzureStorageConnectionString-1" value="DefaultEndpointsProtocol=https;AccountName=lsomni;AccountKey=6BFh8qR7puQUn2Ww/ZXPJCnRbTDn/ed/Tanim0Oy9jgYSA+YaI+O4VxoUt4Mi+jVIqpXn7moRVnJs46IExwIAw==;EndpointSuffix=core.windows.net" />
</appSettings>
