<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- go to https://github.com/nlog/NLog/wiki/Configuration-file#rules for more information -->
  <targets async="true">
    <!-- Standard logging -->
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/logfile.txt"
            layout="${longdate} |tid:${threadid}| ${level} | [${machinename}] | ${message} | ${exception:Format=tostring:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}  ${newline}"
            archiveFileName="${basedir}/logs/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            archiveAboveSize="50000000"
            encoding="iso-8859-2" />
    <!-- Statistic logging for perfomance monitoring to Event Viewer -->
    <target name="statevent" xsi:type="EventLog" 
            layout="${message}" 
            log="Application" 
            source="Commerce" />
    <!-- Statistic logging for perfomance monitoring to file -->
    <target name="statfile" xsi:type="File"
            fileName="${basedir}/logs/statfile.txt"
            layout="${message}"
            archiveFileName="${basedir}/logs/archives/stat.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            archiveAboveSize="50000000"
            encoding="iso-8859-2" />
  </targets>
  <rules>
    <!-- Statistic logging for perfomance monitoring, only enable during testing -->
    <logger name="*" level="Info" enabled="false" writeTo="statfile" />
    <!-- Standard logging, add ,Trace to get more details, in production enviroment, remove ,Warn,Debug -->
    <logger name="*" levels="Error,Warn,Debug" writeTo="file" />
  </rules>
</nlog>
