<?xml version="1.0" encoding="UTF-8"?>
<bindings>
  <!-- customBinding used when calling json from javascript, special cases. Used in PhoneGap but not any more -->
  <customBinding>
    <binding name="RawReceiveCapable">

      <!-- Provide the fully qualified name of the WebContentTypeMapper  -->
      <webMessageEncoding webContentTypeMapperType="LSOmni.Service.JsonContentTypeMapper, LSOmni.Service,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
      </webMessageEncoding>

      <httpTransport manualAddressing="true" maxReceivedMessageSize="524288000" transferMode="Streamed" useDefaultWebProxy="false"  authenticationScheme="Anonymous" decompressionEnabled="true" />
      <!-- maxReceivedMessageSize is 500 Mb     
             when using basic auth under IIS used authenticationScheme="Basic" or Anonymous or None (IIS settings)-->
    </binding>


    <binding name="RawReceiveCapableSSL">
      <!-- Provide the fully qualified name of the WebContentTypeMapper with SSL (https) transport -->
      <webMessageEncoding webContentTypeMapperType="LSOmni.Service.JsonContentTypeMapper, LSOmni.Service,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
      </webMessageEncoding>
      <httpsTransport manualAddressing="true" requireClientCertificate="false" maxReceivedMessageSize="524288000" transferMode="Streamed" useDefaultWebProxy="false" authenticationScheme="Anonymous" decompressionEnabled="true" />
      <!-- maxReceivedMessageSize is 500 Mb     for json authenticationScheme="Basic" or Anonymous or None (IIS settings) -->
    </binding>
    <!--
				<binding name="CustBinding">
				  <binaryMessageEncoding />
				  <httpsTransport authenticationScheme="Anonymous"/>
				</binding>		
				-->
  </customBinding>

  <webHttpBinding>
    <binding name="myWebHttpBinding" useDefaultWebProxy="false">
      <security mode="None" />
    </binding>
    <binding name="myWebHttpBindingSSL" useDefaultWebProxy="false">
      <security mode="Transport" />
    </binding>
  </webHttpBinding>

  <basicHttpBinding>
    <binding name="myBasicHttpBinding" maxReceivedMessageSize="2147483647" >
      <!-- Binding settings for HTTP endpoint  -->
      <security mode="TransportCredentialOnly">
        <!-- <transport clientCredentialType="None"  Basic (basic auth) or   Windows /> -->
        <transport clientCredentialType="None" />
      </security>
    </binding>
    <binding name="myBasicHttpBindingBasic" maxReceivedMessageSize="2147483647" >
      <!-- Binding settings for HTTP endpoint  -->
      <security mode="TransportCredentialOnly">
        <!-- <transport clientCredentialType="None"  Basic (basic auth) or   Windows /> -->
        <transport clientCredentialType="Basic" />
      </security>
    </binding>
    <binding name="myBasicHttpBindingSSL" maxReceivedMessageSize="2147483647" >
      <!-- Binding settings for HTTPS endpoint -->
      <security mode="Transport">
        <!-- <transport clientCredentialType="Basic"   basic auth  /> -->
        <transport clientCredentialType="None" />
      </security>
    </binding>
    <binding name="myBasicHttpBindingBasicSSL" maxReceivedMessageSize="2147483647" >
      <!-- Binding settings for HTTPS endpoint -->
      <security mode="Transport">
        <!-- <transport clientCredentialType="Basic"   basic auth  /> -->
        <transport clientCredentialType="Basic" />
      </security>
    </binding>
    <!-- BasicHttpBinding_IService is for licenseservice  /> -->
    <binding name="BasicHttpBinding_IService" />

  </basicHttpBinding>
  
  
  <!-- AX specific, ignored by NAV /> -->
  <netTcpBinding>
    <binding name="NetTcpBinding_LSRService" maxReceivedMessageSize="2147483647" >

      <!---->
      <!--
          <binding name="NetTcpBinding_LSRService"  closeTimeout="00:01:00"
        openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
        transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
        hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
        maxBufferSize="6553600" maxConnections="10" maxReceivedMessageSize="6553600"> 
            <readerQuotas maxDepth="32" maxStringContentLength="2147483640" maxArrayLength="1638400"
        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
      -->


      <security mode="Transport">
        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
        <message clientCredentialType="Windows" />
      </security>
    </binding>
  </netTcpBinding>
</bindings>

