<?xml version="1.0" encoding="UTF-8"?>
<behaviors>
  <endpointBehaviors>
    <behavior name="MgtServiceEndpointBehavior" />
    <behavior name="MgtJsonXmlEndpointBehavior">
      <webHttp />
    </behavior>
  </endpointBehaviors>

  <serviceBehaviors>
    <behavior name="MgtServiceBehavior">
      <!-- TODO in production includeExceptionDetailInFaults=false   to avoid disclosing exception information-->
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
  </serviceBehaviors>
</behaviors>