<?xml version="1.0" encoding="UTF-8"?>
<bindings>

  <webHttpBinding>
    <binding name="myWebHttpBinding" maxReceivedMessageSize="2147483647">
      <security mode="TransportCredentialOnly">
        <transport clientCredentialType="None" />
      </security>    
    </binding>
    <binding name="myWebHttpBindingSSL" maxReceivedMessageSize="2147483647">
      <security mode="Transport">
        <transport clientCredentialType="Basic" />
      </security>    
    </binding>
    <binding name="myWebHttpBindingBasic" maxReceivedMessageSize="2147483647">
      <security mode="TransportCredentialOnly">
        <transport clientCredentialType="Basic" />
      </security>    
    </binding>
    <binding name="myWebHttpBindingBasicSSL" maxReceivedMessageSize="2147483647">
      <security mode="Transport">
        <transport clientCredentialType="Basic" />
      </security>
    </binding>
  </webHttpBinding>

  <basicHttpBinding>
    <binding name="myBasicHttpBinding" maxReceivedMessageSize="2147483647" >
      <!-- Binding settings for HTTP endpoint  -->
      <security mode="TransportCredentialOnly">
        <!-- <transport clientCredentialType="None"  Basic (basic auth) or   Windows /> -->
        <transport clientCredentialType="None" />
      </security>
    </binding>
    <binding name="myBasicHttpBindingBasic" maxReceivedMessageSize="2147483647" >
      <!-- Binding settings for HTTP endpoint  -->
      <security mode="TransportCredentialOnly">
        <!-- <transport clientCredentialType="None"  Basic (basic auth) or   Windows /> -->
        <transport clientCredentialType="Basic" />
      </security>
    </binding>
    <binding name="myBasicHttpBindingSSL" maxReceivedMessageSize="2147483647" >
      <!-- Binding settings for HTTPS endpoint -->
      <security mode="Transport">
        <!-- <transport clientCredentialType="Basic"   basic auth  /> -->
        <transport clientCredentialType="Basic" />
      </security>
    </binding>
    <binding name="myBasicHttpBindingBasicSSL" maxReceivedMessageSize="2147483647" >
      <!-- Binding settings for HTTPS endpoint -->
      <security mode="Transport">
        <!-- <transport clientCredentialType="Basic"   basic auth  /> -->
        <transport clientCredentialType="Basic" />
      </security>
    </binding>
    <!-- BasicHttpBinding_IService is for license service  /> -->
    <binding name="BasicHttpBinding_IService" />
  </basicHttpBinding>
</bindings>

