<?xml version="1.0" encoding="UTF-8"?>
<client>
<endpoint address="http://localhost/LsRetailLicense/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="LicenseServiceReference.IService" name="BasicHttpBinding_IService" />

<!-- AX specific, ignored by NAV-->
<endpoint address="net.tcp://langholt:8201/DynamicsAx/Services/LSRServiceGroup" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LSRService" contract="AxServiceReference.LSRService" name="NetTcpBinding_LSRService">
  <!-- 
                <identity>
                  <userPrincipalName value="ax_aos@LSRETAIL.LOCAL" />
              </identity> -->
</endpoint>

</client>

