<?xml version="1.0" encoding="UTF-8"?>
<services>
  <!-- Use this file when port 80 and 433 are open -->

  <!-- BO BackOfficeService -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding"
      contract="LSOmni.Service.IBOService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IBOService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="webHttpBinding" bindingConfiguration="myWebHttpBinding"
      contract="LSOmni.Service.IBOJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="webHttpBinding" bindingConfiguration="myWebHttpBindingSSL"
      contract="LSOmni.Service.IBOJson" />
  </service>

  <!-- Loy Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.LoyService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding"
      contract="LSOmni.Service.ILoyService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.ILoyService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.LoyJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="webHttpBinding" bindingConfiguration="myWebHttpBinding"
      contract="LSOmni.Service.ILoyJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="webHttpBinding" bindingConfiguration="myWebHttpBindingSSL"
      contract="LSOmni.Service.ILoyJson" />
  </service>
  
  <!-- inv/pos apps Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.AppJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" bindingConfiguration="myWebHttpBinding" contract="LSOmni.Service.IAppJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" bindingConfiguration="myWebHttpBindingSSL" contract="LSOmni.Service.IAppJson" />
  </service>


  <!-- UC Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.UCService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding" contract="LSOmni.Service.IUCService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL" contract="LSOmni.Service.IUCService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.UCJson">
	<endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" bindingConfiguration="myWebHttpBinding" contract="LSOmni.Service.IUCJson" />
	<!-- to support SSL also -->
	<endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" bindingConfiguration="myWebHttpBindingSSL" contract="LSOmni.Service.IUCJson" />
  </service>


  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.PortalService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding" contract="LSOmni.Service.IPortalService" />
  </service>

  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.PortalService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL" contract="LSOmni.Service.IPortalService" />
  </service>
</services>

