<?xml version="1.0" encoding="UTF-8"?>
<services>
  <!-- Use this file when only port 433 is open -->

  <!-- BO BackOfficeService -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" 
              bindingConfiguration="myBasicHttpBindingSSL" contract="LSOmni.Service.IBOService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" 
              bindingConfiguration="myWebHttpBindingSSL" contract="LSOmni.Service.IBOJson" />
  </service>
  
  <!-- inv/pos apps Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.AppJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" 
              bindingConfiguration="myWebHttpBindingSSL" contract="LSOmni.Service.IAppJson" />
  </service>

  <!-- UC Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.UCService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" 
              bindingConfiguration="myBasicHttpBindingSSL" contract="LSOmni.Service.IUCService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.UCJson">
     <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" 
               bindingConfiguration="myWebHttpBindingSSL" contract="LSOmni.Service.IUCJson" />
  </service>

  <!-- Portal Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.PortalService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" 
              bindingConfiguration="myBasicHttpBindingSSL" contract="LSOmni.Service.IPortalService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.PortalJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" 
              bindingConfiguration="myWebHttpBindingSSL" contract="LSOmni.Service.IPortalJson" />
  </service>
</services>