<?xml version="1.0" encoding="UTF-8"?>
<services>
  <!-- Use this file when only port 433 is open -->

  <!-- All methods Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.AllServiceClient">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IAllService" />
  </service>

  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.AllJson">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IAllJson" />
  </service>

  <!-- BO BackOfficeService -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOService">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IBOService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOJson">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IBOJson" />
  </service>

  <!-- Loy Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.LoyService">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.ILoyService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.LoyJson">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.ILoyJson" />
  </service>
  <!-- Inv Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.InvService">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IInvService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.InvJson">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IInvJson" />
  </service>
  <!-- POS Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.POSService">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IPOSService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.POSJson">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IPOSJson" />
  </service>
  <!-- WebRepl Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.WebReplService">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IWebReplService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.WebReplJson">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IWebReplJson" />
  </service>

  <!-- inv/pos apps Service -->
  <!-- to support SSL also -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.AppJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="customBinding" bindingConfiguration="RawReceiveCapableSSL" contract="LSOmni.Service.IAppJson" />
  </service>

  <!-- eCommerce Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.eCommerceService">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL" contract="LSOmni.Service.IeCommerceService" />
  </service>
  <!-- to support SSL also -->
    <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.eCommerceJson">
     <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="customBinding" bindingConfiguration="RawReceiveCapableSSL" contract="LSOmni.Service.IeCommerceJson" />
  </service>
</services>