<?xml version="1.0" encoding="UTF-8"?>
<services>
  <!-- Use this file when port 80 and 433 are open -->
  
  <!-- All methods Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.AllServiceClient">
    <!--   -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding"
      contract="LSOmni.Service.IAllService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IAllService" />
  </service>

  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.AllJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapable"
      contract="LSOmni.Service.IAllJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IAllJson" />
  </service>

  <!-- BO BackOfficeService -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding"
      contract="LSOmni.Service.IBOService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IBOService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapable"
      contract="LSOmni.Service.IBOJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IBOJson" />
  </service>

  <!-- Loy Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.LoyService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding"
      contract="LSOmni.Service.ILoyService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.ILoyService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.LoyJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapable"
      contract="LSOmni.Service.ILoyJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.ILoyJson" />
  </service>
  <!-- Inv Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.InvService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding"
      contract="LSOmni.Service.IInvService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IInvService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.InvJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapable"
      contract="LSOmni.Service.IInvJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IInvJson" />
  </service>
  <!-- POS Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.POSService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding"
      contract="LSOmni.Service.IPOSService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IPOSService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.POSJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapable"
      contract="LSOmni.Service.IPOSJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IPOSJson" />
  </service>
  <!-- WebRepl Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.WebReplService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding"
      contract="LSOmni.Service.IWebReplService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IWebReplService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.WebReplJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapable"
      contract="LSOmni.Service.IWebReplJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="customBinding" bindingConfiguration="RawReceiveCapableSSL"
      contract="LSOmni.Service.IWebReplJson" />
  </service>

  <!-- inv/pos apps Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.AppJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="customBinding" bindingConfiguration="RawReceiveCapable" contract="LSOmni.Service.IAppJson" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="customBinding" bindingConfiguration="RawReceiveCapableSSL" contract="LSOmni.Service.IAppJson" />
  </service>


  <!-- eCommerce Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.eCommerceService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding" contract="LSOmni.Service.IeCommerceService" />
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL" contract="LSOmni.Service.IeCommerceService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.eCommerceJson">
	<endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="customBinding" bindingConfiguration="RawReceiveCapable" contract="LSOmni.Service.IeCommerceJson" />
	<!-- to support SSL also -->
	<endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="customBinding" bindingConfiguration="RawReceiveCapableSSL" contract="LSOmni.Service.IeCommerceJson" />
  </service>  
</services>

