<?xml version="1.0" encoding="UTF-8"?>
<services>
  <!-- Use this file when only port 80 is open -->
  
  <!-- BO BackOfficeService -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" 
              bindingConfiguration="myBasicHttpBindingBasic" contract="LSOmni.Service.IBOService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" 
              bindingConfiguration="myWebHttpBindingBasic" contract="LSOmni.Service.IBOJson" />
  </service>
  <!-- UC Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.UCService">
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" 
              bindingConfiguration="myBasicHttpBindingBasic" contract="LSOmni.Service.IUCService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.UCJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" 
              bindingConfiguration="myWebHttpBindingBasic" contract="LSOmni.Service.IUCJson" />
  </service>
</services>


