<?xml version="1.0" encoding="UTF-8"?>
<services>
  <!-- Use this file when only port 433 is open -->

  <!-- BO BackOfficeService -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOService">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.IBOService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.BOJson">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="webHttpBinding" bindingConfiguration="myWebHttpBindingSSL"
      contract="LSOmni.Service.IBOJson" />
  </service>

  <!-- Loy Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.LoyService">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL"
      contract="LSOmni.Service.ILoyService" />
  </service>
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.LoyJson">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior"
      binding="webHttpBinding" bindingConfiguration="myWebHttpBindingSSL"
      contract="LSOmni.Service.ILoyJson" />
  </service>
  
  <!-- inv/pos apps Service -->
  <!-- to support SSL also -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.AppJson">
    <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" bindingConfiguration="myWebHttpBindingSSL" contract="LSOmni.Service.IAppJson" />
  </service>

  <!-- eCommerce Service -->
  <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.eCommerceService">
    <!-- to support SSL also -->
    <endpoint address="" behaviorConfiguration="MgtServiceEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBindingSSL" contract="LSOmni.Service.IeCommerceService" />
  </service>
  <!-- to support SSL also -->
    <service behaviorConfiguration="MgtServiceBehavior" name="LSOmni.Service.eCommerceJson">
     <endpoint address="" behaviorConfiguration="MgtJsonXmlEndpointBehavior" binding="webHttpBinding" bindingConfiguration="myWebHttpBindingSSL" contract="LSOmni.Service.IeCommerceJson" />
  </service>
</services>