<appSettings>
  <add key="BOConnection.Nav.Url" value=""/>
  <!--Nav.UserName either "username" or "DOMAIN\userName"    -->
  <!--  Nav 2013/2015 with CredentialType "NavUserPassword" - do not use domain in UserName    navserv-->
  <add key="BOConnection.Nav.UserName" value=""/>
  <add key="BOConnection.Nav.Password" value=""/>

  <!-- Encoding, usually utf-8 but chinese uses GB18030 -->
  <add key="BOConnection.Nav.Encoding" value="utf-8"/>
  <!--Timeout in seconds -->
  <add key="BOConnection.Nav.Timeout" value="20"/>
  <add key="BOConnection.Nav.Direct" value="true"/>
  <add key="BOConnection.Nav.WS2" value="false"/>

  <!-- SQLConnectionString.LSOmni, sql server connection string  Network Library=DBMSSOCN;-->
  <add key="SQLConnectionString.LSOmni" value="Data Source=;Initial Catalog=LSOmni;User ID=LSOmniUser;Password=LSOmniUser;Persist Security Info=True;MultipleActiveResultSets=True;Connection Timeout=10;"/>
  <!-- SqlConnectionString.Nav sql server connection string -->
  <add key="SqlConnectionString.Nav" value="Data Source=;Initial Catalog=;User ID=;Password=;NAVCompanyName=;Persist Security Info=True;MultipleActiveResultSets=True;Connection Timeout=10;"/>  
  <!-- ECom.Url, Web Hook from ECom to check for payments -->
  <add key="ECom.Url" value=""/>

  <add key="BOConnection.AssemblyName" value="LSOmni.DataAccess.BOConnection.NavSQL.dll"/>
  <add key="Infrastructure.Dal.AssemblyName" value="LSOmni.DataAccess.Dal.dll"/>
  <add key="LSRecommends.AssemblyName" value="LSRecommend.dll"/>
  
  <!-- License.Key from lsretail, validated in code    TRIAL-3CONCURRENTUSERS -->
  <add key="License.Key" value="TRIAL-3CONCURRENTUSERS"/>
  <add key="Security.Validatetoken" value="true"/>

  <!-- Using Proxy Server is supported. Contact LSRetail for those key-values -->
</appSettings>
