<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- <add name="MembershipEntities" connectionString="metadata=res://*/Data.Membership.csdl|res://*/Data.Membership.ssdl|res://*/Data.Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAP_JIJ;initial catalog=Membership;persist security info=True;user id=MembershipUser;password=MembershipU$er1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <add name="MembershipEntities" connectionString="metadata=res://*/Data.Membership.csdl|res://*/Data.Membership.ssdl|res://*/Data.Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bunga;initial catalog=LSOmniLoyalty71;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
