<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <!-- archiveFileName="${basedir}/logs/archives/log.{#}.txt"  
  archiveFileName="${basedir}/logs/archives/log.${shortdate}.{#}.txt"
  archiveAboveSize=100000000  rollover on 100 MB "
  -->

  <targets async="true">
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/logfile.txt"
            layout="${longdate} |tid:${threadid}| ${level} | [${machinename}-${windows-identity}] | ${callsite} | ${message} | ${exception:Format=tostring}  ${newline}"
            archiveFileName="${basedir}/logs/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            archiveAboveSize="50000000"
    encoding="iso-8859-2"
                />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>